@import 'style/colors';
@import 'style/media';

.objective {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  grid-column-gap: 120px;
  padding: 20px 0 100px;
  @media (max-width: $extraLarge) {
    max-width: 1000px;
    padding: 20px 50px 80px;
    grid-row-gap: 25px;
  }
  @media (max-width: $extraSmall) {
    max-width: 340px;
    grid-template-columns: 1fr;
  }
}
.item {
  font-size: 18px;
  line-height: 29px;
  color: #776c82;
}
.blockTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $accentColor2;
  margin-bottom: 12px;
}
