@import 'style/colors';
@import 'style/media';

.serviceItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
  grid-gap: 55px 75px;
  padding-top: 50px;
  @media (max-width: $extraLarge) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.serviceItem {
  display: flex;
  flex-direction: column;
  @media (max-width: $extraLarge) {
    padding: 0 50px;
  }
  @media (max-width: $large) {
    align-items: center;
  }
}

.serviceImg {
  height: 72px;
  width: 72px;
}

.serviceTitle {
  margin: 18px 0 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $accentColor2;
}

.serviceText {
  font-size: 16.2px;
  line-height: 26px;
  color: #776c82;
}

.white {
  color: $white;
}

.pink {
  color: $pink;
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}
