@import 'style/colors';

.strategy {
  margin-bottom: 200px;
}

.items {

}

.item {
  color: $accentColor2;
  position: relative;
}

.itemContent {

}

.itemImage {
  position: absolute;
  right: 0;
}

.itemRight {
}

.itemLeft {
}

.itemSubtitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 37px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.itemTitle {
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
}

.itemText {
  font-size: 18px;
  line-height: 29px;
  color: $currant;
}
