@import 'style/colors';
@import 'style/media';

.ourServices {
  padding-bottom: 150px;
  position: relative;
  @media (max-width: $extraSmall) {
    padding-bottom: 50px;
  }
}

.quote {
  overflow: hidden;
  padding-top: 100px;
  @media (max-width: $small) {
    padding-top: 50px;
  }
}

.quoteContent {
  padding: 100px;
  background-color: $royalPurple;
  color: $white;
  font-size: 22px;
  line-height: 40px;
  font-style: italic;
  @media (max-width: $extraLarge) {
    padding: 70px;
  }
  @media (max-width: $small) {
    padding: 30px;
  }
  @media (max-width: $small) {
    padding: 10px;

    font-size: 16px;
    line-height: 24px;
  }
}

.quoteText {
  max-width: 750px;
  display: block;
  @media (max-width: $large) {
    width: 500px;
  }
  @media (max-width: $small) {
    width: 350px;
    font-size: 16px;
    line-height: 30px;
  }
  @media (max-width: $extraSmall) {
    max-width: 300px;
  }
}

.quoteMan {
  position: absolute;
  right: 0;
  bottom: 0;
}

.quoteImage {
  position: relative;
  margin-right: -30px;
  @media (max-width: $extraLarge) {
    width: 400px;
  }
  @media (max-width: $large) {
    width: 250px;
  }
  @media (max-width: $extraSmall) {
    width: 150px;
  }
}

.quotePerson {
  margin: 55px 0 55px 100px;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  @media (max-width: $extraSmall) {
    margin: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.personName {
  color: $razzmatazz;
  font-weight: 900;
  position: relative;

  &:after {
    content: '';
    height: 2px;
    width: 7px;
    top: 50%;
    right: -12px;
    position: absolute;
    background-color: $accentColor2;
  }
  @media (max-width: $extraSmall) {
    &:after {
      content: none;
    }
  }
}

.personCompany {
  color: $accentColor2;
  margin-left: 15px;
  font-weight: 400;
}
