@import 'style/colors';
@import 'style/media';

.clients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: $extraLarge) {
    max-width: 1000px;
    grid-template-columns: 5fr 4fr;
  }
}

.business {
  padding: 100px 0;
  background-color: $blackCurrant;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: $blackCurrant;
    width: 9999px;
    top: 0;
    left: -9998px;
  }

  &:after {
    content: '';
    position: absolute;
    height: 100px;
    background-color: $blackCurrant;
    width: 9999px;
    bottom: -99px;
    right: 0;
    z-index: 3;
    @media (max-width: $large) {
      height: 50px;
      bottom: -49px;
    }
  }
  @media (max-width: $extraLarge) {
    padding-left: 30px;
  }
  @media (max-width: $large) {
    padding: 50px 0 50px 30px;
  }
}
