@import 'style/colors';
@import 'style/media';

.royalPurple {
  background-color: $royalPurple;
  color: $white;
  padding-bottom: 300px;
  @media (max-width: $large) {
    padding-bottom: 200px;
  }
}

.currant {
  background-color: $currant;
  color: $white;
  padding-bottom: 300px;
  padding-top: 220px;
  @media (max-width: $large) {
    padding: 120px 0 150px;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-column-gap: 30px;
  height: 360px;
  padding-top: 50px;
  @media (max-width: $extraLarge) {
    max-width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-column-gap: 20px;
    height: 320px;
  }
  @media (max-width: $large) {
    grid-template-columns: 1fr;
    max-width: 450px;
    grid-row-gap: 30px;
    height: auto;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 36px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.2s;
  @media (max-width: $large) {
    padding: 30px;
  }
  @media (max-width: $small) {
    padding: 10px 30px;
  }
}

.active {
  background-color: $razzmatazz;
}

.itemTitle {
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  margin: 13px 0;
  @media (max-width: $small) {
    font-size: 20px;
    line-height: 32px;
  }
}

.itemText {
  font-size: 16px;
  line-height: 26px;
  @media (max-width: $small) {
    font-size: 16px;
    line-height: 20px;
  }
}

.itemImage {
  width: 54px;
  @media (max-width: $large) {
    width: 40px;
  }
}
