@import 'style/colors';
@import 'style/media';

// business
.business {
  display: flex;
  flex-direction: column;
}

.businessTitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  margin-bottom: 35px;
}

.businessText {
  font-size: 18px;
  line-height: 29px;
  color: $white;
  max-width: 460px;
  @media (max-width: $extraLarge) {
    line-height: 25px;
    max-width: 400px;
  }
  @media (max-width: $small) {
    font-size: 14px;
    line-height: 20px;
    max-width: 300px;
  }
}
.businessTextItem {
  padding-bottom: 40px;
}
.pink {
  color: $razzmatazz;
}

// our client
.logos {
  max-width: 460px;
  justify-self: end;
  margin-left: 100px;
  @media (max-width: $extraLarge) {
    margin-left: 20px;
    justify-self: center;
  }
}

.logosTitle {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: $currant;
  padding-bottom: 85px;
  @media (max-width: $large) {
    padding-bottom: 120px;
  }
}

.logosItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 110px 125px;
  @media (max-width: $extraLarge) {
    grid-gap: 80px 80px;
  }
  @media (max-width: $large) {
    grid-gap: 80px 20px;
  }
}

.white {
  color: $white;
}
.logosImage {
  @media (max-width: $large) {
    width: 100px;
  }
}
