@import 'style/colors';

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
}

.title {
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  text-align: center;
  color: #30233d;
  margin-bottom: 23px;
}

.subTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #776c82;
  margin-bottom: 60px;
}

.form {
  display: flex;
  align-items: flex-end;
}

.formImage {
  width: 27px;
  height: 27px;
  margin-left: 20px;
}

.formInput {
  font-weight: 800;
  font-size: 18px;
  line-height: 37px;
  letter-spacing: 4px;
  color: #9b94a3;
  border: none;

  &::placeholder {
    text-transform: uppercase;
  }
}

.formBtn {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 37px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: $razzmatazz;
  display: flex;
  align-items: center;
}
