@import 'style/colors';


.clients {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.business {
  padding: 100px 0;
  background-color: $blackCurrant;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: $blackCurrant;
    width: 9999px;
    top: 0;
    left: -9998px;
  }

  &:after {
    content: '';
    position: absolute;
    height: 100px;
    background-color: $blackCurrant;
    width: 9999px;
    bottom: -99px;
    right: 0;
    z-index: 3;
  }
}