@import 'style/colors';
@import 'style/media';

.clientsContainer {
  background-color: $royalPurple;
  padding-top: 100px;
  overflow: hidden;
}

.clients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: -10px;
  @media (max-width: $extraSmall) {
    grid-template-columns: 4fr 3fr;
  }
}

.business {
  padding: 100px 0;
  position: relative;
  @media (max-width: $extraLarge) {
    padding-left: 50px;
  }
  @media (max-width: $extraLarge) {
    padding-left: 20px;
  }
  @media (max-width: $small) {
    padding: 30px 20px;
  }
}

.logos {
  padding-top: 100px;
  background-color: $pink;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: $pink;
    width: 9999px;
    top: 0;
    right: -9998px;
  }
}
