@import 'style/colors';
@import 'style/media';

.navBar {
  color: $accentColor2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  letter-spacing: 2px;
  padding-top: 60px;

  a {
    color: $accentColor2;
    text-decoration: none;
  }
  @media (max-width: $extraLarge){
    max-width: 1000px;
  }
  @media (max-width: $large){
    max-width: 700px;
  }
}
.navBarWhite {
  color: $white;
  a {
    color: $white;
  }
}
.logo {
  font-weight: 900;
  font-size: 24px;
  line-height: 43px;
}
.menu {
  @media (max-width: $large) {
    display: none;
  }
}
.menuItem {
  margin-right: 54px;
  &:last-child {
    margin-right: 0;
  }
}
.burger {
  margin-bottom: 15px;
  cursor: pointer;
}
.burgerIcon {
  display: block;
  background-color: $accentColor2;
  position: relative;
  align-items: center;
  width: 27px;
  height: 2px;
  &:after,
  &:before {
    content: '';
    position: absolute;
    background-color: $accentColor2;
    height: 2px;
  }
  &:before {
    width: 27px;
    top: -7px;
  }
  &:after {
    width: 18px;
    right: 0;
    top: 7px;
  }
}
.burgerIconWhite {
  background-color: $white;
  &:before,
  &:after {
    background-color: $white;
  }
}
.phone {
  display: flex;
  img {
    margin-right: 18px;
  }
}
