@import 'style/colors';
@import 'style/media';

.gallery {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 300px;
  @media (max-width: $large) {
    padding-bottom: 150px;
  }
}

.galleryList {
  position: relative;
}

.lines {
  height: 774px;
  display: flex;
  @media (max-width: 1440px) {
    height: 690px;
  }
  @media (max-width: 1340px) {
    height: 580px;
  }
  @media (max-width: 1150px) {
    height: 500px;
  }
  @media (max-width: $large) {
    height: 390px;
  }
  @media (max-width: $small) {
    height: 290px;
  }
  @media (max-width: $extraSmall) {
    height: 190px;
  }
}

.blocks {
  padding: 75px 0 0 115px;
  width: 50%;
  @media (max-width: $small) {
    padding: 20px 0 0 30px;
  }
  @media (max-width: $extraSmall) {
    padding: 20px;
  }
}

.images {
  position: absolute;
}

.galleryText {
  z-index: 3;
  color: $white;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  max-width: 220px;
  @media (max-width: $small) {
    font-size: 12px;
    line-height: 18px;
  }
}

.galleryTitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 37px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  @media (max-width: $extraSmall) {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
  }
}

.image1 {
  left: 0;
  top: 0;
}

.image2 {
  right: 0;
  top: 0;
  z-index: 2;
}

.image3 {
  @media (max-width: 1440px) {
    max-width: 100%;
  }
}

.image4 {
  bottom: 0;
  left: 0;
  z-index: 2;
}

.image5 {
  bottom: 0;
  right: 0;
}
.halfImage {
  @media (max-width: 1440px) {
    width: 50%;
  }
}
.fullBlock {
  //display: block;
}
