@import 'style/colors';
@import 'style/media';

.intro {
  color: $accentColor2;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  @media (max-width: $extraLarge) {
    max-width: 1000px;
    margin-left: 50px;
  }
  @media (max-width: $small) {
    max-width: 500px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
}

.white {
  color: $white;
}

.center {
  align-items: center;
  text-align: center;
}

.introTitle {
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  margin-bottom: 20px;
  max-width: 800px;
  @media (max-width: $small) {
    font-size: 30px;
    line-height: 45px;
  }
}

.introSubTitle {
  color: $razzmatazz;
  font-weight: 800;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 6px;
  margin-bottom: 18px;
  text-transform: uppercase;
  @media (max-width: $small) {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 3px;
  }
}

.introText {
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  max-width: 754px;
  @media (max-width: $large) {
    max-width: 600px;
  }
  @media (max-width: $large) {
    font-size: 18px;
    line-height: 26px;
  }
}

.introSmallText {
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  max-width: 460px;
  @media (max-width: $small) {
    font-size: 14px;
    line-height: 22px;
    max-width: 300px;
  }
}
