@import 'style/colors';
@import 'style/media';

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 150px;
  @media (max-width: $extraLarge) {
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 4fr 3fr;
  }
  @media (max-width: $large) {
    grid-template-columns: 4fr 2fr;
  }
}

.sides {
  position: relative;
}

.featuresText {
  color: $blackCurrant;
  padding: 20px 0;
  max-width: 460px;

  line-height: 29px;
  font-size: 18px;
  @media (max-width: $extraLarge) {
    margin-left: 50px;
  }
  @media (max-width: $small) {
    margin-left: 25px;
    line-height: 20px;
    font-size: 14px;

  }
}

.featuresTextItem {
  margin-bottom: 40px;
  @media (max-width: $small) {
    margin-bottom: 10px;
  }
}

.featuresBtn {
  padding: 0;
  border: none;
  background-color: $razzmatazz;
  color: $white;
  width: 200px;
  height: 45px;
  border-radius: 36px;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  @media (max-width: $extraLarge) {
    margin-left: 50px;
  }
}

.image1 {
  position: absolute;
  top: 0;
  right: 0;
  @media (max-width: $extraLarge) {
    width: 380px;
  }
  @media (max-width: $large) {
    width: 200px;
  }
}

.image2 {
  left: 0;
  bottom: 0;
  position: absolute;
  @media (max-width: $extraLarge) {
    width: 320px;
  }
  @media (max-width: $large) {
    width: 100%;
  }
}
