@import 'style/colors';
@import 'style/media';

.footer {
  background-color: $blackCurrant;
  color: $white;

  a {
    color: $white;
  }
}

.footerContainer {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 3fr 3fr;
  max-width: 1000px;
  @media (max-width: $large) {
    max-width: 700px;
    grid-template-columns: 2fr 2fr 3fr 3fr;
    grid-row-gap: 30px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
}

.logoTitle {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.logoSubTitle {
  max-width: 160px;
  font-size: 16.2px;
  line-height: 26px;
}

.note {
  grid-column: 2 / 6;
  font-size: 12px;
  line-height: 19px;
  margin: 65px 0 120px;
  height: 0;
  @media (max-width: $large) {
    grid-column: 2 / 6;

  }
}

.blockTitle {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;

  &:after {
    content: '';
    position: absolute;
    width: 95%;
    height: 1px;
    background-color: $razzmatazz;
    left: 0;
    bottom: 0;
  }
}

.blockContent {
  margin-top: 25px;
}

.blockItem {
  a {
    font-weight: bold;
    font-size: 12.6px;
    line-height: 28px;
    letter-spacing: 1px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: $white;
      transition: 0.2s;
      transform: scaleX(0);
    }

    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }
  }
}

.contactItem {
  display: flex;
  font-size: 16.2px;
  line-height: 26px;
  margin-bottom: 7px;
}

.contactIcon {
  width: 30px;
}

.socialMedia {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.logo {
  @media (max-width: $large) {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
  }
}