@import 'style/colors';
@import 'style/media';

.strategy {
  max-width: 1440px;
  margin: 0 auto 420px;
  @media (max-width: $extraLarge) {
    max-width: 1000px;
    margin-bottom: 300px;
  }
  @media (max-width: $large) {
    margin-bottom: 200px;
  }
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px 30px;
  @media (max-width: $large) {
    grid-gap: 50px 20px;
  }
  @media (max-width: $small) {
    grid-template-columns: 1fr;
  }
}

.itemTextContainer {
  padding-left: 147px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: $extraLarge) {
    padding-left: 80px;
  }
  @media (max-width: $large) {
    padding-left: 40px;
  }
}

.itemImageContainer {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 80%;
    height: 20%;
    bottom: -18%;
    z-index: -1;
    @media (max-width: $extraLarge) {
      bottom: -15%;
    }
  }
  @media (max-width: $large) {
    margin-top: auto;
  }
  @media (max-width: $small) {
    display: none;
  }
}

.itemImage {
  width: 100%;
  @media (max-width: $extraLarge) {
    width: 400px;
  }
  @media (max-width: $large) {
    width: 300px;
  }
}

.itemTitle {
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  color: $currant;
  margin: 5px 0 18px;
  @media (max-width: $small) {
    font-size: 20px;
    line-height: 30px;
  }
}

.itemSubTitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 37px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.itemText {
  font-size: 18px;
  line-height: 29px;
  color: #776c82;
  @media (max-width: $small) {
    font-size: 14px;
    line-height: 24px;
  }
}

.textContainer {
  max-width: 465px;
  display: block;
}

.pinkElement {
  &:after {
    background-color: $razzmatazz;
  }
}

.greenElement {
  &:after {
    background-color: $green;
  }
}

.purpleElement {
  &:after {
    background-color: $royalPurple;
  }
}
.leftImage {
  margin-left: auto;
  &:after {
    right: 0;
  }
}
.rightImage {
  margin-right: auto;
  &:after {
    left: 0;
  }
}
