@import 'style/colors';
@import 'style/media';

.testimonial {
  background: #fcfcfc;
  margin-bottom: 130px;
  @media (max-width: $large) {
    margin-bottom: 0;
  }
}
.faces {
  position: absolute;
  width: 100%;
  height: 100%;
}
.testimonialContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $accentColor2;
  margin-bottom: 50px;
  position: relative;
  @media (max-width: $extraLarge) {
  max-width: 1000px;
  }

}
.mainAvatar{
  @media (max-width: $extraLarge) {
    width: 400px;
  }
  @media (max-width: $large) {
    width: 300px;
  }

}
.avatar {
  margin-top: -127px;
  z-index: 2;
  margin-bottom: 116px;
  position: relative;

  &:after {
    font-family: 'Libre Baskerville', serif;
    content: '\201c';
    position: absolute;
    color: $razzmatazz;
    left: 50%;
    bottom: -80px;
    transform: translateX(-50%);
    font-size: 250px;
    line-height: 0;
    @media (max-width: $extraLarge) {
    font-size: 200px;
      bottom: -60px;
    }
  }
  @media (max-width: $large) {
    margin-top: -50px;
  }
}
.testimonialUser {
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
}
.testimonialText {
  max-width: 754px;
  font-style: italic;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 30px;
  z-index: 2;
  @media (max-width: $large){
    font-size: 30px;
    line-height: 50px;
    max-width: 500px;
  }
}
.testimonialName {
  font-weight: bold;
  color: $razzmatazz;
  margin-right: 15px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -12px;
    height: 2px;
    width: 6px;
    background-color: $accentColor2;
  }
}
.arrows {
  position: absolute;
  bottom: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  @media (max-width: $large) {
    max-width: 650px;
  }
}
.arrowRight,
.arrowLeft {
  cursor: pointer;
}

.faceItems {
  position: absolute;
  @media (max-width: $large){
    max-width: 150px;
  }
}
.faceItem1 {
  top: 3%;
  left: 7%;
}
.faceItem2 {
  top: 45%;
  left: 0;
}
.faceItem3 {
  top: 30%;
  left: 20%;
}
.faceItem4 {
  top: 34%;
  right: 20%;
}
.faceItem5 {
  top: 18%;
  right: 10%;
}
.faceItem6 {
  top: -5%;
  right: 0;
}
.faceItem7 {
  top: 30%;
  right: 0;
}
