@import 'style/colors';
@import 'style/media';

.testimonial {
  background: #fcfcfc;
  margin-bottom: 130px;
  @media (max-width: $large) {
    margin-bottom: 0;
  }
}


.testimonialContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $accentColor2;
  margin-bottom: 50px;
  position: relative;
  @media (max-width: $extraLarge) {
    max-width: 1000px;
  }
}


