@import 'style/colors';
@import 'style/media';

.prizes {
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-column-gap: 30px;
  transform: translateY(76px);
  @media (max-width: $extraLarge) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
  }
  @media (max-width:$large) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    transform: translateY(50px);
  }
}

.prizeItem {
  font-weight: 900;
  font-size: 99px;
  line-height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width:$large) {
    font-size: 80px;
    line-height: 60px;
  }
}

.prizeName {
  color: $white;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.pink {
  color: $pink;
}

.green {
  color: $green;
}

.purple {
  color: $royalPurple;
}
