@import 'style/colors';
@import 'style/media';

.ourServices {
  padding-top: 320px;
  padding-bottom: 200px;
  background-color: $blackCurrant;
  background-image: url(../../../image/earth.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 150px;
  @media (max-width: $large){
    padding-top: 150px;
  }
}
