@import '../../../style/colors';

.ourServices {
  padding-top: 320px;
  padding-bottom: 200px;
  background-color: $blackCurrant;
  background-image: url(../../../image/earth.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 150px;
}
