@import 'style/colors';
@import 'style/media';

.titleContainer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  top: 0;

  @media (max-width: $extraLarge) {
    max-width: 1000px;
    padding-left: 50px;
  }
}

.titleH {
  color: $razzmatazz;
  font-weight: 500;
  font-size: 54px;
  line-height: 80px;

  @media (max-width: $extraLarge) {
    max-width: 1000px;
  }
}

.titleText {
  color: $white;

  font-weight: 800;
  font-size: 18px;
  line-height: 37px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.black{
  color: $accentColor2;
}